extends layout
block content
  
  
  .row
    .col-xs-9
      each noticia in noticias
        .col-xs-4
          .bs-callout.bs-callout-primary 
            h4 #{noticia.titulo}
            p #{noticia.cuerpo}
            p.small.text-right #{noticia.lugar}
      
    .col-xs-3
      .col-xs-12
        button(type="button" data-toggle="modal" data-target="#myModal").btn.btn-primary.btn-lg.btn-block Publicar
        .modal.fade#myModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
          .modal-dialog(role="document")
            form(action="/api/otro/prueba" method="post").modal-content
              .modal-header
                button(type="button" data-dismiss="modal" aria-label="Close").close
                  span(aria-hidden="true") &times;
                h4.modal-title#myModalLabel Publicar Noticia 
              .modal-body
                .form-horizontal
                  .form-group
                    label(for="titulo").col-sm-2.control-label Titulo
                    .col-sm-7
                      input(type="text" placeholder="#Titulo" name="titulo")#titulo.form-control
                    .col-sm-3
                      select(name="tipo").form-control.btn-block
                        option(value="politica") Politica
                        option(value="deportes") Deportes
                        option(value="farandula") Farandula
                        option(value="social") Social
                  .form-group
                    label(for="lugar").col-sm-2.control-label Lugar
                    .col-sm-10
                      input.inf(type="text" placeholder="#Lugar" name="lugar")#lugar.form-control
                  .form-group
                    label(for="noticia").col-sm-2.control-label Detalle
                    .col-sm-10  
                      textarea(rows="4" placeholder="#Noticia" name="noticia")#noticia.form-control
              .modal-footer
                button(type="button" data-dismiss="modal").btn.btn-default Close
                button(type="submit").btn.btn-primary Publicar
        br
      
      each noticia in noticias
        .col-xs-12
          .bs-callout-relacionados.bs-callout-default-relacionados 
            h4 #{noticia.titulo}
            small.text-right #{noticia.lugar}
    